body{
	margin: 0;
	padding:0;
}



/*header start */


header{
	background-color: #121B2A;

}
.wrapper {
	overflow: hidden;
	width: 80%;
	/*border: 1px solid white;*/
	margin:0 auto;
}

.logo {
	float: left;
width: 20%;

}
.logo img{
width: 100%;
}

.menu {
	margin-top: 40px;
	float: right;
	width: 70%;
	

}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-family: sens-serif;
	padding: 0 20px;
	display: inline-block;
}
.menu ul li:last child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color:#086992;
}

/*header end*/
/*banner start*/
.banner{
	min-height: 450px;
	background-image:url("images/person.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background position: center;
}
.b_content {
	margin-top: 200px;
	margin-bottom:70px; 
	width: 50% ;
	/*border: 1px solid red;*/
}
.b_content h1{
	margin: 0;
	font-family: sans-serif;
	font-size:38px;
	font-weight: 400;
	color:white;
	text-transform: capitalize;
}
.b_content h2{
	margin: 0;
	font-family:sans-serif; 
	font-size:45px;
	font-weight:700; 
	color:#14699C;
	text-transform: capitalize;

}
.b_content p{
	margin: 15px,0,30px;
	font-family:sans-serif;
	font-size:20px;
	font-weight:400; 
	color:white;
	line-height:30px
}

.b_content button {
	width: 200px;
	height: 60px;
	font-family:sans-serif; 
	font-size:20px;
	font-weight:400; 
	color:#5B5B5B;
	text-transform:uppercase;
	background-color: white;
	border: none;
    cursor: pointer;

}
.b_content button:hover{
	background-color:#086992;
	color: white;
	transition-property: 0.5s;
}
/*banner end*/
/*service start*/
.service{
	background-color: #121B2A;
	padding-top: 50px;
	padding-bottom: 10px;
}
.single{
	padding:50px 2%;
	width: 29.3%;
	/*border: 1px solid white;*/
	float: left;
}
.single:last child{
	border-right: 0;
}
.top{
	overflow: hidden;


}
.t_img{
	width: 24%;
	/*border: 1px solid white;*/
     float: left;
}
.t_img img{
	width: 100%;

}
.t_text{
	margin-top: 15px;
   width:60%;
   /* border:1px solid white;*/
    float: left;
}
.t_text h2{
	margin:0;
font-family:sans-serif; 
	font-size:24px;
	font-weight:400; 
	color:white;
}
.t_text h3{
	margin:0;
   font-family:sans-serif; 
	font-size:28px;
	font-weight:400; 
	color:#0078BD;	
}
.buttom{}
.bottom p{
	margin: 0;
font-family:sans-serif; 
	font-size:18px;
	font-weight:400; 
	color:white;
	line-height: 25px;
}
/*service end */
/*contact start*/
.contact{
	padding: 22px 0 10px;
	background-color:#040811;
}
.common{
	float: left;
	width: 28%;
	padding: 40px 2.6% 0;
}
.c_top{
overflow: hidden;
}
.c_top h5{
	margin: 0;
font-family:sans-serif; 
	font-size:19px;
	font-weight:400; 
	color:#fff;
	text-transform: capitalize;
}
.c_top h5 span{
	color: #0170BD;
}
.c_top{
		margin:12px 0 0;
font-family:sans-serif; 
	font-size:14px;
	font-weight:400; 
	color: #fff;
	line-height: 25px;
}


.c_bottom{
	overflow: hidden;
}

.phn{
	width: 22%;
	float: left;
	font-family:sans-serif; 
	font-size:14px;
	font-weight:400; 
	color:#fff;
	line-height: 23px;
}
.nmbr p{
	width: 78%;
	float: left;
	font-family:sans-serif; 
	font-size:14px;
	font-weight:400; 
	color:#fff;
	line-height: 23px;

}
.nmbr span{
	line-height: 33px;
}
.addrs{
	margin: 42px 0 10px;
}
.addrs p{

	font-family:sans-serif; 
	font-size:15px;
	font-weight:400; 
	color:#fff;
	line-height: 23px;
}
.addrs span{
	font-size:12px; 
	font-weight:400;
}

.img{
	width: 30%;
	float: left;
}

.img img{
width: 100%;
}
.c_text{
	width:65%;
    float: right;  
}
.c_text h3{
	margin: 0 0;
font-family:sans-serif; 
	font-size:28px;
	font-weight:400; 
	color: #0170BD;
	line-height:40px;

}
.c_text button{
	margin: 10px 0;
	width: 140px;
	height: 55px;
	background-color:#fff;
	border-radius:3px;
    cursor: pointer;

}
.b_img{
	width: 100%;
}
/*contact end */
/*footer start*/
footer{
	padding: 8px 0 0;
	background-color:#121B2C;
}

.f_menu{
	width: 70%;
	float: left;
}
.f_menu ul{
	margin-top: 6px;
	overflow: hidden;

}

.f_menu ul li{
	float: left;
	list-style: none; ;
}
.f_menu ul li:last child a{
border-right: 0;	
}
.f_menu ul li a{
	padding: 0 25px;
	margin: 0;
   font-family:sans-serif; 
	font-size:12px;
	font-weight:400; 
	color:white;
	text-decoration: none;
	text-transform: capitalize;
	border-right: 1px solid white;
	display:inline-block;
	transition: 0.3s;
	line-height: 25px;


}


.f_menu ul li a:hover{
	color: #0170BD;
}

.f_menu span{
  padding: 0 60px;
  font-family:sans-serif; 
	font-size:12px;
	font-weight:400; 
	color:#fff;
	display:inline-block;
	
	
}
.f_right{
	width: 30%;
	float:right;

}



.f_img{
	overflow: hidden;
}


.f_right img{
	width: 100%;

}

.img1{
	padding: 20px 10px;
	width: 40%;
	float: left;
}



.img2{
	padding: 8px 10px;
	width: 40%;
	float: left;


}
/*footer end*/
